.create-form{
    background-color: #EBFFEC;
    width: 750px;
    border: 2px solid black;
    box-shadow: 5px 5px 15px 2px;
    margin-top: 50px;
}

div.create-form
{
    padding: 10px;
}

.select-button > button{
    background-color: #169BD5;
    padding-top: 0;
    margin-right: 35px;
    z-index: 1 !important;
    height: 25px;
    font-size: 14px;
    width: fit-content;
}
.role-select{
    width: 200px;
    margin-left: 10px;
    height: 50px;
}

input{
    padding: 1.5px;
    margin-top: 5px;
}

select{
    padding: 1.5px;
    margin-top: 5px;
}

.validfield{
    border-style: solid 4px;
    border-color: green;
}

.invalidfield{
    border-style: solid 4px;
    border-color: red;
}
