<app-home></app-home>
<div class="container">
    <form action="">
        <div class="container-fluid create-form">
            <h2 class="text-center">Datos personales</h2>
            <div class="row">
                <div class="col-6">
                    <div class="form-group row">
                        <label class="col-sm-3 text-end mt-2" for="name"><b><i>Nombre: </i></b></label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" id="name" formControlName="firstname">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 text-end mt-2" for="name"><b><i>Apellido: </i></b></label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" id="name" formControlName="lastname">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 text-end mt-2" for="name"><b><i>CUIL: </i></b></label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" id="name" formControlName="CUIL" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 text-end mt-2" for="name"><b><i>Nacionalidad: </i></b></label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" id="name" formControlName="CUIL">
                        </div>
                    </div>
                </div>


                <div class="col-2 offset-2">
                    <img src="../../../assets/images/ProfilePhoto.png" alt="profile photo">
                    <button class="btn btn-sm btn-secondary mt-3">
                        Cambiar
                    </button>
                </div>
            </div>
        </div>
        <div class="container-fluid create-form">
            <h2 class="text-center">Usuario DPV</h2>
            <div class="form-group row">
                <label class="col-sm-3 text-end mt-2" for="name"><b><i>E-mail personal: </i></b></label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="name" formControlName="firstname">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 text-end mt-2" for="name"><b><i>E-mail DPV: </i></b></label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="name" formControlName="lastname" readonly>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 text-end mt-2" for="name"><b><i>Usuario: </i></b></label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="name" formControlName="CUIL" readonly>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 text-end mt-2" for="name"><b><i>Contraseña: </i></b></label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="name" formControlName="CUIL">
                </div>
                <button class="btn btn-primary col-sm-3 offset-sm-1" style="padding: 0px;">
                    Generar contraseña
                </button>
                <small class="col-sm-5 offset-sm-3" style="font-size: 11.5px;"><i>Puede elegir su contraseña o generar
                        una automáticamente</i></small>
            </div>
        </div>
        <div class="container-fluid create-form">
            <h2 class="text-center">Domicilio</h2>
            <div class="form-group row">
                <label class="col-sm-1 text-end mt-2" for="name"><b><i>Provincia: </i></b></label>
                <div class="col-sm-4">
                    <select class="form-control offset-sm-1 text-center" #SpecialRole
                        formControlName="specialRoleSelected">
                        <option [ngValue]="0">Seleccione una provincia</option>
                        <!--Add provincias-->
                    </select>
                </div>
                <label class="col-sm-1 text-end mt-2" style="margin-left: 34px;" for="name"><b><i>Barrio:
                        </i></b></label>
                <div class="col-sm-4" style="margin-left: -9px;">
                    <input class="form-control" type="text" id="name" formControlName="firstname">
                </div>
                <label class="col-sm-1 text-end mt-2" style="margin-left: -35px;" for="name"><b><i>Piso:
                        </i></b></label>
                <div class="col-sm-1" style="margin-left: -20px;">
                    <input class="form-control" style="width: 50px;" type="text" id="name" formControlName="firstname">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-1 text-end mt-2" for="name"><b><i>Localidad: </i></b></label>
                <div class="col-sm-4">
                    <select class="form-control offset-sm-1 text-center" #SpecialRole
                        formControlName="specialRoleSelected">
                        <option [ngValue]="0">Seleccione una localidad</option>
                        <!--Add localidades-->
                    </select>
                </div>
                <label class="col-sm-1 text-end mt-2" style="margin-left: 10px;" for="name"><b><i>Manzana:
                        </i></b></label>
                <div class="col-sm-4" style="margin-left: 15px;">
                    <input class="form-control" style="width: 50px;" type="text" id="name" formControlName="firstname">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-1 text-end mt-2" for="name"><b><i>Dirección: </i></b></label>
                <div class="col-sm-4" style="margin-left: 20px;">
                    <input class="form-control" type="text" id="name" formControlName="lastname">
                </div>
                <label class="col-sm-1 text-end mt-2" style="margin-left: 24px;" for="name"><b><i>Casa: </i></b></label>
                <div class="col-sm-4" style="margin-left: -19px;">
                    <input class="form-control" type="text" style="width: 50px;" id="name" formControlName="firstname">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-1 text-end mt-2" style="margin-left: 25px;" for="name"><b><i>Altura:
                        </i></b></label>
                <div class="col-sm-4" style="margin-left: -5px;">
                    <input class="form-control" type="text" id="name" formControlName="lastname">
                </div>
                <label class="col-sm-1 text-end mt-2" style="margin-left: -50px;" for="name"><b><i>Departamento:
                        </i></b></label>
                <div class="col-sm-4" style="margin-left: 55px;">
                    <input class="form-control" style="width: 50px;" type="text" id="name" formControlName="firstname">
                </div>
            </div>
        </div>
        <div class="container-fluid create-form">
            <h2 class="text-center">Sector</h2>
            <div class="form-group row">
                <label class="col-sm-1 text-end mt-2" style="margin-left: 25px;" for="name"><b><i>Sector:
                        </i></b></label>
                <div class="col-sm-4" style="margin-left: -5px;">
                    <input class="form-control" type="text" id="name" formControlName="CUIL" readonly>
                </div>
            </div>
        </div>

        <button class="btn btn-primary offset-9 mt-5">
            Enviar todo
        </button>
    </form>
</div>
<app-footer></app-footer>