<app-home></app-home>
<div class="container" style="font-size: 14px;">
    <form [formGroup]="firstSigninForm">
        <div class="container-fluid create-form ">
            <h4 class="text-center">Datos personales</h4>
            <div class="row">
                <div class="col-6 ">
                    <div class="form-group row">
                        <label class="col-sm-3 text-end mt-2" for="name" style="margin-left: 40px;"><b><i>Nombre: </i></b></label>
                        <div class="col-sm-4">
                            <input class="form-control input-width-300" type="text" id="name" formControlName="firstname">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 text-end mt-2"  style="margin-left: 40px;" for="lastname"><b><i>Apellido: </i></b></label>
                        <div class="col-sm-4">
                            <input class="form-control input-width-300" type="text" id="lastname" formControlName="lastname">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 text-end mt-2" style="margin-left: 40px;" for="CUIL"><b><i>CUIL: </i></b></label>
                        <div class="col-sm-4">
                            <input class="form-control input-width-300" type="text" id="CUIL" formControlName="CUIL" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 text-end mt-2" style="margin-left: 20px;" for="nationality"><b><i>Nacionalidad: </i></b></label>
                        <div class="col-sm-4" style="margin-left: 20px;">
                            <input class="form-control input-width-300" type="text" id="nationality" formControlName="nationality">
                        </div>
                    </div>
                </div>


                <div class="col-2 offset-2">
                    <img src="../../../assets/images/ProfilePhoto.png" alt="profile photo">
                    <button class="btn btn-sm btn-secondary mt-3">
                        Cambiar
                    </button>
                </div>
            </div>
        </div>
        <div class="container-fluid create-form">
            <h4 class="text-center">Usuario DPV</h4>
            <div class="form-group row">
                <label class="col-sm-3 text-end mt-2" style="margin-left: -55px;" for="personalEmail"><b><i>E-mail personal: </i></b></label>
                <div class="col-sm-4">
                    <input class="form-control input-width-300" type="text" id="personalEmail" formControlName="personalEmail">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 text-end mt-2 " style="margin-left: -55px;" for="dpvEmail"><b><i>E-mail DPV: </i></b></label>
                <div class="col-sm-4">
                    <input class="form-control input-width-300" type="text" id="dpvEmail" formControlName="dpvEmail" readonly>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 text-end mt-2" style="margin-left: -55px;" for="username"><b><i>Usuario: </i></b></label>
                <div class="col-sm-4">
                    <input class="form-control input-width-300" type="text" id="username" formControlName="username" readonly>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 text-end mt-2" style="margin-left: -55px;" for="password"><b><i>Contraseña: </i></b></label>
                <div class="col-sm-4">
                    <input class="form-control input-width-300" type="text" id="password" formControlName="password">
                </div>
                <button class="btn btn-primary col-sm-3 offset-sm-2" style="padding: 0px;">
                    Generar contraseña
                </button>
                <small class="col-sm-6 mt-2" style="font-size: 11.5px; margin-left: 135px;"><i>Puede elegir su contraseña o generar una automáticamente</i></small>
            </div>
        </div>
        <div class="container-fluid create-form">
            <h4 class="text-center">Domicilio</h4>
            <div class="form-group row">
                <label class="col-sm-1 text-end mt-2" for="province"><b><i>Provincia: </i></b></label>
                <div class="col-sm-4">
                    <select class="form-control offset-sm-1 text-center" id="province" #SpecialRole
                        formControlName="specialRoleSelected">
                        <option [ngValue]="0">Seleccione una provincia</option>
                        <!--Add provincias-->
                    </select>
                </div>
                <label class="col-sm-1 text-end mt-2" style="margin-left: 30px;" for="neighborhood"><b><i>Barrio: </i></b></label>
                <div class="col-sm-4" style="margin-left: -5px;">
                    <input class="form-control input-width-200" type="text" id="neighborhood" formControlName="neighborhood">
                </div>
                <label class="col-sm-1 text-end mt-2" style="margin-left: -35px;" for="floor"><b><i>Piso: </i></b></label>
                <div class="col-sm-1" style="margin-left: -20px;">
                    <input class="form-control" style="width: 50px;" type="text" id="floor" formControlName="floor">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-1 text-end mt-2" for="district"><b><i>Localidad: </i></b></label>
                <div class="col-sm-4">
                    <select class="form-control offset-sm-1 text-center" id="district" #SpecialRole
                        formControlName="specialRoleSelected">
                        <option [ngValue]="0">Seleccione una localidad</option>
                        <!--Add localidades-->
                    </select>
                </div>
                <label class="col-sm-1 text-end mt-2" style="margin-left: 10px;" for="block"><b><i>Manzana: </i></b></label>
                <div class="col-sm-4" style="margin-left: 15px;">
                    <input class="form-control" style="width: 50px;" type="text" id="block" formControlName="block">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-1 text-end mt-2" for="street"><b><i>Calle: </i></b></label>
                <div class="col-sm-4" style="margin-left: 20px;">
                    <input class="form-control input-width-200" type="text" id="street" formControlName="street">
                </div>
                <label class="col-sm-1 text-end mt-2" style="margin-left: 15px;" for="house"><b><i>Casa: </i></b></label>
                <div class="col-sm-4" style="margin-left: -10px;">
                    <input class="form-control" type="text" style="width: 50px;" id="house" formControlName="house">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-1 text-end mt-2" style="margin-left: 20px;" for="height"><b><i>Altura: </i></b></label>
                <div class="col-sm-4" >
                    <input class="form-control input-width-200" type="text" id="height" formControlName="height">
                </div>
                <label class="col-sm-1 text-end mt-2" style="margin-left: -42px;" for="apartment"><b><i>Departamento: </i></b></label>
                <div class="col-sm-4" style="margin-left: 46px;">
                    <input class="form-control" style="width: 50px;" type="text" id="apartment" formControlName="apartment">
                </div>
            </div>
        </div>
        <div class="container-fluid create-form">
            <h4 class="text-center">Sector</h4>
            <div class="form-group row">
                <label class="col-sm-1 text-end mt-2" style="margin-left: 25px;" for="sector"><b><i>Sector: </i></b></label>
                <div class="col-sm-4" style="margin-left: -5px;">
                    <input class="form-control input-width-200" type="text" id="sector" formControlName="sector" readonly>
                </div>
            </div>
        </div>

        <button class="btn btn-success offset-8 mt-5">
            Enviar todo
        </button>
    </form>
</div>
<app-footer></app-footer>