<div class="container">
    <form action="">
        <div class="container-fluid">
            <h2>Datos personales</h2>
            <div class="form-group row">
                <label class="col-sm-3 text-end mt-2" for="name"><b><i>Nombre: </i></b></label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="name" formControlName="firstname">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 text-end mt-2" for="name"><b><i>Apellido: </i></b></label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="name" formControlName="lastname">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 text-end mt-2" for="name"><b><i>CUIL: </i></b></label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="name" formControlName="CUIL">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 text-end mt-2" for="name"><b><i>Nacionalidad: </i></b></label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="name" formControlName="CUIL">
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <h2>Usuario DPV</h2>
            <div class="form-group row">
                <label class="col-sm-3 text-end mt-2" for="name"><b><i>E-mail personal: </i></b></label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="name" formControlName="firstname">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 text-end mt-2" for="name"><b><i>E-mail DPV: </i></b></label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="name" formControlName="lastname">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 text-end mt-2" for="name"><b><i>Usuario: </i></b></label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="name" formControlName="CUIL">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 text-end mt-2" for="name"><b><i>Contraseña: </i></b></label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="name" formControlName="CUIL">
                </div>
                <small><i>Puede cambiar su contraseña o generar otra contrseña automáticamente</i></small>
                <button class="btn btn-primary">
                    Generar contraseña
                </button>
            </div>
        </div>
        <div class="container-fluid">
            <h2>Domicilio</h2>
            <div class="form-group row">
                <label class="col-sm-3 text-end mt-2" for="name"><b><i>Provincia: </i></b></label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="name" formControlName="firstname">
                </div>
                <label class="col-sm-3 text-end mt-2" for="name"><b><i>Barrio: </i></b></label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="name" formControlName="firstname">
                </div>
                <label class="col-sm-3 text-end mt-2" for="name"><b><i>Piso: </i></b></label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="name" formControlName="firstname">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 text-end mt-2" for="name"><b><i>Localidad: </i></b></label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="name" formControlName="lastname">
                </div>
                <label class="col-sm-3 text-end mt-2" for="name"><b><i>Manzana: </i></b></label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="name" formControlName="firstname">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 text-end mt-2" for="name"><b><i>Dirección: </i></b></label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="name" formControlName="lastname">
                </div>
                <label class="col-sm-3 text-end mt-2" for="name"><b><i>Casa: </i></b></label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="name" formControlName="firstname">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 text-end mt-2" for="name"><b><i>Altura: </i></b></label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="name" formControlName="lastname">
                </div>
                <label class="col-sm-3 text-end mt-2" for="name"><b><i>Departamento: </i></b></label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="name" formControlName="firstname">
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <h2>Sector</h2>
            <div class="form-group row">
                <label class="col-sm-3 text-end mt-2" for="name"><b><i>Sector: </i></b></label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="name" formControlName="CUIL">
                </div>
            </div>
        </div>

        <button class="btn btn-primary">
            Aceptar
        </button>
    </form>
</div>