<div class="container">
  <div class="row mt-5"   *ngIf="estadoBoleta">
    <div class="col-md-4 mx-auto">
        <div class="card" style="width: 18rem;">
            <div class="card-header text-center">
              <b>Detalle de Estado Boleta</b>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><b>ID: </b>{{estadoBoleta.id}}</li>
              <li class="list-group-item"><b>Codigo: </b>{{estadoBoleta.codEstadoBoleta}}</li>
              <li class="list-group-item"><b>Nombre: </b>{{estadoBoleta.nombreEstadoBoleta}}</li>
            </ul>
            <div class="card-footer">
              <button class="btn btn-outline-primary btn block" (click)="volver()"><i class="fas fa-arrow-circle-left"></i> Volver</button>
            </div>
          </div>
    </div>
  </div>
</div>