.altaEstadoBoleta{
    background: #EBFFEC;
    margin-top: 200px;
    width: 600px;
    height: 240px;
    position: sticky;
    top: 200px; left: 380px;
}
.header{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    margin-top: 229px;
    text-align: center;
}
.codigo{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    text-align: center;
}

.codEstadoBoleta-inputs{
   
    margin-bottom: 15px;
    width: 300px; 
    height: 25px;
    position: sticky;
    top: 268px; left: 576px;
}

.nombreEstadoBoleta-inputs{

    margin-bottom: 15px;
    width: 300px; 
    height: 25px;
    position: sticky;
    top: 300px; left: 576px;
}
.btn-outline-success{
    width: 140px; 
    height: 30px;
    border-radius: 10px;
    background-color:  #169BD5;
    color: white;
    text-align: center;
    vertical-align: middle;
    position: sticky;
    top: 350px; left: 819px;
}
.validfield{
    border-style: solid 4px;
    border-color: green;
}

.invalidfield{
    border-style: solid 4px;
    border-color: red;
}