<body>
  <header>
    <div class="row justify-content-center mt-3">
      Configure los estados para las boletas
    </div>
  </header>

  <div class="container altaEstadoBoleta mt-4 mx-auto">
    <form [formGroup]="estadoBoletaForm" (ngSubmit)="onCreate()">
      <header>
        <div class="row justify-content-center mt-auto">
          Crear Estado para Boletas
        </div>
      </header>
      <div class="form-group">
        <div class="row">
          <div class="col-5">
            <label class="mt-3" for="Codigo"><b>Codigo Estado Boleta</b></label>
          </div>
          <div class="col-7">
            <input formControlName="codEstadoBoleta" class="form-control codEstadoBoleta-inputs mt-3" maxlength="10"
              [class.validfield]="this.estadoBoletaForm.get('codEstadoBoleta')?.valid"
              [class.invalidfield]="this.estadoBoletaForm.get('codEstadoBoleta')?.invalid && this.estadoBoletaForm.get('codEstadoBoleta')?.touched"
              type="text" placeholder="Ingrese Codigo del Estado Boleta" />
            <small *ngIf="!estadoBoletaForm.get('codEstadoBoleta').valid && submitted"> Por favor ingrese el codigo de
              la boleta </small>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-5">
            <label class="mt-3" for="Codigo"><b>Nombre Estado Boleta</b></label>
          </div>
          <div class="col-7">
            <input formControlName="nombreEstadoBoleta" class="form-control nombreEstadoBoleta-inputs mt-3"
              [class.validfield]="this.estadoBoletaForm.get('nombreEstadoBoleta')?.valid"
              [class.invalidfield]="this.estadoBoletaForm.get('nombreEstadoBoleta')?.invalid && this.estadoBoletaForm.get('nombreEstadoBoleta')?.touched"
              type="text" placeholder="Ingrese Nombre del Estado Boleta" />
            <small *ngIf="!estadoBoletaForm.get('nombreEstadoBoleta').valid && submitted"> Por favor ingrese el nombre
              de la boleta </small>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn block btn-outline-success">Crear</button>
    </form>
  </div>

  <div class="searcher justify-content-center mt-3">
    <form>
      <input type="text">
      <input type="submit" value="Buscar">
    </form>
  </div>

  <div class="container mt-3">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col" style="display: none;">ID</th>
          <th scope="col">Codigo del Estado Boleta</th>
          <th scope="col">Nombre del Estado Boleta</th>
          <th scope="col">Detalle</th>
          <th scope="col">Editar</th>
          <th scope="col">Borrar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let estadosBoleta of estadoBoletaArray">
          <td style="display: none;">{{estadosBoleta.id}}</td>
          <td>{{estadosBoleta.codEstadoBoleta}}</td>
          <td>{{estadosBoleta.nombreEstadoBoleta}}</td>
          <td><button class="btn btn-outline-primary" (click)="openDetail(estadosBoleta.id)"><i class="fas fa-eye"></i>
              Detalle</button></td>
          <td><button class="btn btn-outline-warning" (click)="open(estadosBoleta.id)"> <i class="fas fa-edit"></i>
              Editar</button></td>
          <td><button class="btn btn-outline-danger" (click)="borrarEstadoBoleta(estadosBoleta.id)"><i
                class="fas fa-trash-alt"></i> Eliminar</button></td>
        </tr>
      </tbody>

      <!-- The Modal -->
      <div class="modal" id="editarModal">

        <div class="modal-dialog">

          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Editar Estado Boleta</h4>
              <button type="button" class="close" data-dismiss="modal" (click)="volver()">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">

              <form [formGroup]="editEstadoBoletaForm" (ngSubmit)="onUpdate(estadoBoleta.id)">
                <input type="hidden" formControlName="id" value="{{estadoBoleta.id}}">
                <div class="form-group">
                  <div class="row">
                    <div class="col-5">
                      <label class="mt-3" for="Codigo"><b>Codigo Estado Boleta</b></label>
                    </div>
                    <div class="col-7">
                      <input formControlName="codEstadoBoleta" class="form-control codEstadoBoleta-inputs mt-3"
                        maxlength="10" [class.validfield]="this.estadoBoletaForm.get('codEstadoBoleta')?.valid"
                        [class.invalidfield]="this.estadoBoletaForm.get('codEstadoBoleta')?.invalid && this.estadoBoletaForm.get('codEstadoBoleta')?.touched"
                        type="text" placeholder="Ingrese Codigo del Estado Boleta" />
                      <small *ngIf="!estadoBoletaForm.get('codEstadoBoleta').valid && submitted"> Por favor ingrese el
                        codigo de la boleta </small>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-5">
                      <label class="mt-3" for="Codigo"><b>Nombre Estado Boleta</b></label>
                    </div>
                    <div class="col-7">
                      <input formControlName="nombreEstadoBoleta" class="form-control nombreEstadoBoleta-inputs mt-3"
                        [class.validfield]="this.estadoBoletaForm.get('nombreEstadoBoleta')?.valid"
                        [class.invalidfield]="this.estadoBoletaForm.get('nombreEstadoBoleta')?.invalid && this.estadoBoletaForm.get('nombreEstadoBoleta')?.touched"
                        type="text" placeholder="Ingrese Nombre del Estado Boleta" />
                      <small *ngIf="!estadoBoletaForm.get('nombreEstadoBoleta').valid && submitted"> Por favor ingrese
                        el nombre de la boleta </small>
                    </div>
                  </div>
                </div>

                <div class="modal-footer">
                  <button type="submit" class="btn btn block btn-outline-success">Actualizar</button>
                </div>

              </form>

            </div>

          </div>

        </div>

      </div>

      <div class="modal fade" id="detalleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="exampleModalLabel">Detalle de Estado Boleta</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="volver()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p><b>ID: </b>{{estadoBoleta.id}}</p>
              <p><b>Codigo: </b>{{estadoBoleta.codEstadoBoleta}} </p>
              <p><b>Nombre: </b>{{estadoBoleta.nombreEstadoBoleta}} </p>
            </div>
            <div class="modal-footer">
              <button class="btn btn-outline-primary btn block" (click)="volver()"><i
                class="fas fa-arrow-circle-left"></i> Volver</button>
            </div>
          </div>
        </div>
      </div>
    </table>
  </div>
</body>