<app-home></app-home>
<div class="container initial-position">
  <div class="row justify-content-center" *ngIf="isAdmin">
    <div class="col-6">
      <form [formGroup]="estadoBoletaForm" (ngSubmit)="onCreate()" class="create-form">
        <div class="form-group">
          <div class="row">
            <label class="col-md-3 offset-1 text-end mt-3">
              <b>Código *</b>
            </label>
            <input formControlName="codEstadoBoleta" class="form-control codEstadoBoleta-inputs mt-3" type="text"
              placeholder="Ingrese Codigo del Estado Boleta"
              [class.validfield]="this.estadoBoletaForm.get('codEstadoBoleta')?.valid"
              [class.invalidfield]="this.estadoBoletaForm.get('codEstadoBoleta')?.invalid && this.estadoBoletaForm.get('codEstadoBoleta')?.touched"
              (focusout)="checkEstadoBoletaForm()">
            <small class="text-danger"
              *ngIf="this.estadoBoletaForm.get('codEstadoBoleta')?.touched && this.estadoBoletaForm.get('codEstadoBoleta')?.invalid">El
              campo es obligatorio</small>
          </div>
          <div class="row mt-1">
            <label class="col-md-3 offset-1 text-end mt-3">
              <b>Descripción *</b>
            </label>
            <input formControlName="nombreEstadoBoleta" class="form-control nombreEstadoBoleta-inputs mt-3" type="text"
              placeholder="Ingrese Nombre del Estado Boleta"
              [class.validfield]="this.estadoBoletaForm.get('nombreEstadoBoleta')?.valid"
              [class.invalidfield]="this.estadoBoletaForm.get('nombreEstadoBoleta')?.invalid && this.estadoBoletaForm.get('nombreEstadoBoleta')?.touched"
              (focusout)="checkEstadoBoletaForm()">
            <small class="text-danger"
              *ngIf="this.estadoBoletaForm.get('nombreEstadoBoleta')?.touched && this.estadoBoletaForm.get('nombreEstadoBoleta')?.invalid">El
              campo es obligatorio</small>
          </div>
        </div>
        <button class="btn text-white mt-4 btn-sm" #CreatePermission disabled>
          <fa-icon [icon]="fapluscircle"> </fa-icon>Aceptar
        </button>
      </form>
    </div>
  </div>
  <div class="row mt-4 justify-content-center">
    <div class="col-3">
      <h3>Estado de Boletas Existentes</h3>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-2">
    </div>
    <div class="col-9">
      <div class="table-responsive">
        <table class="table text-center">
          <thead>
            <tr>
              <th scope="col" style="display: none;">ID</th>
              <th scope="col">Codigo</th>
              <th scope="col">Descripcion</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let estadosBoleta of estadoBoletaArray">
              <td style="display: none;">{{estadosBoleta.id}}</td>
              <td>{{estadosBoleta.codEstadoBoleta}}</td>
              <td>{{estadosBoleta.nombreEstadoBoleta}}</td>
              <td>
                <!--<button class="btn bg-primary" routerLink="/permiso/detalle/{{permiso.id}}">
                  <fa-icon [icon]="faFileAlt"></fa-icon> Detalles
                </button>-->
                <button class="btn bg-secondary" (click)="open(estadosBoleta.id)" *ngIf="isAdmin">
                  <fa-icon [icon]="faEdit"></fa-icon>
                  Editar
                </button>
                <button class="btn bg-danger" (click)="borrarEstadoBoleta(estadosBoleta.id)" *ngIf="isAdmin">
                  <fa-icon [icon]="faTrash"></fa-icon>Eliminar
                </button>
              </td>
            </tr>
          </tbody>

          <!-- The Modal -->
          <div class="modal" id="editarModal">
            <div class="modal-dialog">
              <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Editar Estado Boleta</h4>
                  <button type="button" class="close" data-dismiss="modal" (click)="volver()">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                  <form [formGroup]="editEstadoBoletaForm" (ngSubmit)="onUpdate(estadoBoleta.id)">
                    <input type="hidden" formControlName="id" value="{{estadoBoleta.id}}">
                    <div class="form-group">
                      <div class="row">
                        <div class="col-5">
                          <label class="mt-3" for="Codigo"><b>Codigo Estado Boleta</b></label>
                        </div>
                        <div class="col-7">
                          <input formControlName="codEstadoBoleta" class="form-control codEstadoBoleta-inputs mt-3"
                            type="text" placeholder="Ingrese Codigo del Estado Boleta" maxlength="10"
                            [class.validfield]="this.editEstadoBoletaForm.get('codEstadoBoleta')?.valid"
                            [class.invalidfield]="this.editEstadoBoletaForm.get('codEstadoBoleta')?.invalid && this.editEstadoBoletaForm.get('codEstadoBoleta')?.touched"
                            (focusout)="checkEditEstadoBoletaForm()" />
                          <small *ngIf="!editEstadoBoletaForm.get('codEstadoBoleta').valid && success"> Por favor
                            ingrese el
                            codigo de la boleta </small>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <div class="col-5">
                          <label class="mt-3" for="Codigo"><b>Nombre Estado Boleta</b></label>
                        </div>
                        <div class="col-7">
                          <input formControlName="nombreEstadoBoleta"
                            class="form-control nombreEstadoBoleta-inputs mt-3" type="text"
                            placeholder="Ingrese Nombre del Estado Boleta"
                            [class.validfield]="this.editEstadoBoletaForm.get('nombreEstadoBoleta')?.valid"
                            [class.invalidfield]="this.editEstadoBoletaForm.get('nombreEstadoBoleta')?.invalid && this.editEstadoBoletaForm.get('nombreEstadoBoleta')?.touched"
                            (focusout)="checkEditEstadoBoletaForm()" />
                          <small *ngIf="!editEstadoBoletaForm.get('nombreEstadoBoleta').valid && success"> Por favor
                            ingrese
                            el nombre de la boleta </small>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn block btn-outline-success" #EditPermission
                        disabled>Actualizar</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </table>
      </div>
    </div>
  </div>
</div>