<app-home></app-home>
<div class="max-container">
    <h2>¡Bienvenido/a a SIGER!</h2>
    <div class="intro-container container">
        <h2>¿Que es SIGER?</h2>
        <p>
            Es el Sistema de Administración de Recursos Humanos de la Dirección Provincial de Vialidad, de Mendoza. Este
            sistema se encargará de administrar tu asistencia de forma automática, además la procesara a fin de mes para
            determinar tu salario bruto.
        </p>
    </div>
    <div class="user-container container">
        <h3>Como usuario puedes realizar lo siguiente</h3>
        <div class="mini-container container">
            <p>Desde aquí podrás iniciar tus trámites para solicitar las boletas que necesites.</p>
            <button type="submit"><a class="nav-link" href="/solicitar-boleta">Solicitar Boletas</a></button>
        </div>
        <div class="mini-container container">
            <p>Desde aquí podrás iniciar tus trámites para solicitar las licencias que necesites.</p>
            <button type="submit"><a class="nav-link" href="/solicitar-licencia">Solicitar Licencias</a></button>
        </div>
        <div class="mini-container container">
            <p>Desde aquí podrás consultar sobre tu asistencia a tu lugar de trabajo.</p>
            <button type="submit"><a class="nav-link" href="/mis-asistencias">Asistencias</a></button>
        </div>
    </div>
    <div class="admin-container container" *ngIf="isAdmin">
        <h3>¿Eres administrador? Entonces, intenta lo siguiente...</h3>
        <div class="contenedor">
            <div class="micro-container container">
                <p>Como administrador tendrás la posibilidad de generar distintos reportes sobre la DPV.

                    Para estas tareas se ha provisto de filtros para una mejor experiencia.</p>
                <button type="submit"><a class="nav-link"
                        href="">
                        Informes</a></button>
            </div>
            <div class="sub-container">
                <div class="c-container container">
                    <p>Desde aquí podrás autorizar o rechazar las licencias que ha solicitado el personal de tu sector.
                    </p>
                    <button type="submit"><a class="nav-link" href="/autorizar-licencia">Autorizar
                            Licencias</a></button>
                </div>
                <div class="c-container container">
                    <p>Desde aquí podrás autorizar o rechazar las boletas que ha solicitado el personal de tu sector.
                    </p>
                    <button type="submit"><a class="nav-link" href="/autorizar-boleta">Autorizar Boletas</a></button>
                </div>
            </div>
            <div class="micro-container container">
                <p>Estarás a cargo de administrar los usuarios de SIGER.

                    Para proteger la integridad de la organización los usuarios no pueden darse de alta a si mismos, por
                    lo
                    tanto, es tu tarea administrarlos. Podrás darlos de alta, de baja e incluso editar su perfil si
                    fuera
                    necesario.</p>
                <button type="submit"><a class="nav-link" href="/createEmployee">Crear Usuario</a></button>
                <button type="submit" class="mt-4"><a class="nav-link" href="/list-users">Gestionar
                        Usuarios</a></button>
            </div>
        </div>
    </div>
</div>
<footer>
    <app-footer></app-footer>
</footer>