<app-home></app-home>
<div class="max-container">
    <h2>¡Bienvenido/a a SIGER!</h2>
    <div class="intro-container container">
        <h2>¿Que es SIGER?</h2>
        <p>
            Es el Sistema de Administración de Recursos Humanos de la Dirección Provincial de Vialidad, de Mendoza. Este
            sistema se encargará de administrar tu asistencia de forma automática, además la procesara a fin de mes para
            determinar tu salario bruto.
        </p>
    </div>
    <div class="user-container container">
        <h3>Como usuario puedes realizar lo siguiente</h3>
        <div class="mini-container container">
            <p>Desde aquí podrás iniciar tus trámites para solicitar las boletas que necesites.</p>
            <button type="submit">Trámites</button>
        </div>
        <div class="mini-container container">
            <p>Desde aquí podrás consultar tu asistencia al trabajo.</p>
            <button type="submit">Asistencia</button>
        </div>
    </div>
    <div class="admin-container container" *ngIf="isAdmin">
        <h3>¿Eres administrador? Entonces, intenta lo siguiente...</h3>
        <div class="contenedor">
            <div class="micro-container container">
                <p>Como administrador podrás generar distintos reportes sobre la DPV. También podrás consultar por algún
                    empleado en cuestión.

                    Por otro lado, podrás consular informes sobre ti mismo, como si de un usuario de bajo privilegios se
                    tratase.

                    Para estas tareas se ha provisto de filtros para una mejor experiencia.</p>
                <button type="submit">Trámites</button>
            </div>
            <div class="sub-container">
                <div class="c-container container">
                    <p>Desde la sección podrás autorizar las licencias que te han solicitado.</p>
                    <button type="submit">Consultar Licencias</button>
                </div>
                <div class="c-container container">
                    <p>Las configuraciones permiten llevar a cabo la gestión de las licencias, de los niveles de
                        autorización, del procesamiento de las fichadas, entre otros.</p>
                    <button type="submit">Ir a configuraciones</button>
                </div>
            </div>
            <div class="micro-container container">
                <p>Estarás a cargo de administrar los usuarios de SIGER.

                    Para proteger la integridad de la organización los usuarios no pueden darse de alta a si mismos, por
                    lo
                    tanto, es tu tarea administrarlos. Podrás darlos de alta, de baja e incluso editar su perfil si
                    fuera
                    necesario.</p>
                <button type="submit">Personal</button>
            </div>
        </div>
    </div>
</div>
<footer>
    <app-footer></app-footer>
  </footer>