<div class="container editarPermiso">
    <form [formGroup]="permisoForm" (ngSubmit)="onUpdate()">
        
    <div class="form-group">
        <input formControlName="codigoPermiso" class="form-control login-inputs" maxlength="10" value="{{permiso.codigoPermiso}}"
         [class.validfield]="this.permisoForm.get('codigoPermiso')?.valid"
         [class.invalidfield]="this.permisoForm.get('codigoPermiso')?.invalid && this.permisoForm.get('codigoPermiso')?.touched" type="text" placeholder="Ingrese Codigo del Permiso"/>
    </div>
    <div class="form-group">
        <input formControlName="nombrePermiso" class="form-control login-inputs" value="{{permiso.nombrePermiso}}"
        [class.validfield]="this.permisoForm.get('nombrePermiso')?.valid"
        [class.invalidfield]="this.permisoForm.get('nombrePermiso')?.invalid && this.permisoForm.get('nombrePermiso')?.touched" type="text" placeholder="Ingrese Nombre del Permiso"/>
    </div>
    <div class="form-group">
        <div class="row justify-content-center mt-3">
            <div class="col-12">
                <button type="submit" class="btn btn-outline-success btn block" ><b>Actualizar</b></button>
            </div>
        </div>
    </div>
    </form>
    </div>
