.login{
    background-color: #4286f4;
    opacity: 0.85;
    border-radius: 20px 20px 0px 20px;
    border-style: groove 3px;
    text-align: center;
    align-self: center;
    width: 425px;
    height: 460px;
    margin-top: 180px;
    box-shadow: 7px 7px 15px 10px;
}

.password-inputs{
    margin-top: 40px;
    width: 275px;
    height: 40px;
    border-radius: 10px 10px 10px 10px;
    margin-left: auto;
    margin-right: auto;   
    box-shadow: 3px 3px 10px 2px;
}

.confirmPassword-inputs{
    margin-top: 40px;
    width: 275px;
    height: 40px;
    border-radius: 10px 10px 10px 10px;
    margin-left: auto;
    margin-right: auto;   
    box-shadow: 3px 3px 10px 2px;
}

.forgot-password{
    margin-right: 130px;
    text-decoration: none;
    color: white;
}

.btn-outline-success{
    width: 275px; 
    height: 40px;
    border-radius: 10px;
    background-color:  white;
    color: #4286f4;
}