<div class="container-fluid header_container">
    <div class="row">
        <div class="col-4 offset-2 mt-4">
            <label><b>Usuario: &nbsp;</b><span>Marian Viviana Montenegro</span></label>
        </div>
        <div class="col-1">
            <img alt="profile photo" src="assets/images/ProfilePhoto.png">
        </div>
        <div class="col-1 offset-4 mt-4">
            <label>Cerrar Sesion
                <button>
                    <fa-icon [icon]="faSignOut" (click)="onLogOut()">
                    </fa-icon>
                </button>
            </label>
        </div>
    </div>
</div>