<div class="container-fluid header_container sticky-top">
    <div class="row">
        <div class="col-4 offset-2 mt-4">
            <label><b>Usuario: &nbsp;</b><span>{{username}}</span></label>
            <br>
            <label><b>Rol: &nbsp;</b><span>{{role}}</span></label>
        </div>
        <div class="col-1">
            <img alt="profile photo" src="assets/images/AlexisBahi.jpg">
        </div>
        <div class="col-1 offset-4 mt-4">
            <label>Cerrar Sesion
                <button>
                    <fa-icon [icon]="faSignOut" (click)="onLogOut()">
                    </fa-icon>
                </button>
            </label>
        </div>
    </div>
</div>