<div class="container">
    <div class="row mt-5"   *ngIf="provincia">
      <div class="col-md-4 mx-auto">
          <div class="card" style="width: 18rem;">
              <div class="card-header text-center">Provincia
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>ID: </b>{{provincia.id}}</li>
                <li class="list-group-item"><b>Codigo: </b>{{provincia.codigo}}</li>
                <li class="list-group-item"><b>Nombre: </b>{{provincia.denominacion}}</li>
              </ul>
              <div class="card-footer">
                <button class="btn btn-outline-primary btn block" (click)="volver()"><i class="fas fa-arrow-circle-left"></i> Volver</button>
              </div>
            </div>
      </div>
    </div>
  </div>
