<div class="container login">
    <form action="" method="post">
        <img src="assets/images/LogoViejo.jpg" width="290" height="105" alt="LogoViego" class="mt-4">
    <div class="form-group">
        <input class="form-control login-inputs" type="text" placeholder="Ingrese su usuario o correo"/>
        <div class="row" style="margin-top: 15px;">
            <div class="col">
                <small style="color: white;">Se enviará un e-mail al correo institucional.</small>
            </div>
        </div>    
    </div>
    <div class="form-group">
        <div class="row justify-content-center" style="margin-top: 112px;">
            <div class="col-12">
                <button type="submit" class="btn btn-block login-btn" ><b>Generar nueva contraseña</b></button>
            </div>
        </div>
    </div>
    </form>
    </div>