<div class="container editarRol">
    <form [formGroup]="rolForm" (ngSubmit)="onUpdate()">
        
    <div class="form-group">
        <input formControlName="codigoRol" class="form-control login-inputs" maxlength="10"
         [class.validfield]="this.rolForm.get('codigoRol')?.valid"
         [class.invalidfield]="this.rolForm.get('codigoRol')?.invalid && this.rolForm.get('codigoRol')?.touched" value="{{rol.codigoRol}}" type="text" placeholder="Ingrese Codigo del Rol"/>
    </div>
    <div class="form-group">
        <input formControlName="nombreRol" class="form-control login-inputs"
        [class.validfield]="this.rolForm.get('nombreRol')?.valid"
        [class.invalidfield]="this.rolForm.get('nombreRol')?.invalid && this.rolForm.get('nombreRol')?.touched" value="{{rol.nombreRol}}"type="text" placeholder="Ingrese Nombre del Rol"/>
    </div>
    <div class="form-group">
        <input formControlName="permisos" class="form-control login-inputs"
        [class.validfield]="this.rolForm.get('permisos')?.valid"
        [class.invalidfield]="this.rolForm.get('permisos')?.invalid" type="text" value="{{rol.permisos}}"placeholder="Ingrese Permisos"/>
    </div>
    <div class="form-group">
        <div class="row justify-content-center mt-3">
            <div class="col-12">
                <button type="submit" class="btn btn-outline-success btn block" ><b>Actualizar</b></button>
            </div>
        </div>
    </div>
    </form>
    </div>

