<div class="container mt-3">
    <table class="table">
      <thead>  
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Codigo</th>
          <th scope="col">Nombre Rol</th>
          <th scope="col">Permisos</th>
          <th scope="col">Detalle</th>
          <th scope="col">Editar</th>
          <th scope="col">Borrar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rol of roles">
          <td>{{rol.id}}</td>
          <td>{{rol.codigoRol}}</td>
          <td>{{rol.nombreRol}}</td>
          <td><div *ngFor="let permiso of rol.permisos">{{permiso.nombrePermiso}}</div></td>
          <td><button class="btn btn-outline-primary" routerLink="/rol/detalle/{{rol.id}}"><i class="fas fa-eye"></i> Detalle</button></td>
          <td><button class="btn btn-outline-warning" routerLink="/rol/editar/{{rol.id}}"><i class="fas fa-edit"></i> Editar</button></td>
          <td><button class="btn btn-outline-danger" (click)="borrarRol(rol.id)"><i class="fas fa-trash-alt"></i> Eliminar</button></td>
        </tr>
      </tbody>
  </table>
  </div>
