.vertical_navbar{
    background-color: #ffa7d1;
    width: 200px;
    height: 755px;
    float: left
}

nav {
    margin-top: 75px;
    margin-left: -12.5px;
    position: relative;
}

a{
    text-decoration: none;
    color: black;
}

ul, ol {
    list-style:none;
}

.nav > li {
    float:left;
}

.nav li a {
    text-decoration:none;
    padding:10px 12px;
    display:block;
    min-width:200px;
}

.nav li a:hover {
    background-color: #358FDA;
}

.nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
    left: 50px;
    background-color: #358FDA;
    box-shadow:  2.5px 2.5px 15px 3px;
    border-radius: 0px 15px 0px 15px;
}

.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position: relative;
}

.nav li ul li ul {
    left: 120px;
    top:0px;
}