<div class="container vertical_navbar">
  <div class="row ">
    <div class="col-3">
      <nav class="navbar-default nav">

        <!--links a vistas-->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Mi Perfil</a>
            <ul>
              <li>
                <a href="#" class="nav-link">Editar</a>
              </li>
              <li>
                <a href="#" class="nav-link">Ver</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Asistencias</a>
            <ul>
              <li>
                <a href="" class="nav-link">Ver Mis Asistencias</a>
              </li>
              <li>
                <a href="/asistencia" class="nav-link">Cargar Asistencia</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Trámites</a>
            <ul>
              <li>
                <a href="#" class="nav-link">Consultar Estado</a>
              </li>
              <li>
                <a href="/solicitar-boleta" class="nav-link">Solicitar Boleta</a>
              </li>
              <li>
                <a href="/solicitar-licencia" class="nav-link">Solicitar Licencia</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Informes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Usuarios</a>
            <ul>
              <li>
                <a href="#" class="nav-link">Asignar Rol</a>
              </li>
              <li>
                <!--Mostrar sólo esta sección si el rol es RRHH-->
                <a href="/altaEmpleado" class="nav-link">Crear Usuario</a>
              </li>
              <li>
                <a href="#" class="nav-link">Eliminar Usuario</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Configuración</a>
            <ul id="config">
              <li>
                <a class="nav-link">Movilidad</a>
                <ul>
                  <li>
                    <a href="/movilidad" class="nav-link">Movilidades</a>
                  </li>
                  <li>
                    <a href="/tipo-movilidad" class="nav-link">Tipos</a>
                  </li>
                </ul>
              </li>
              <li>
                <!--Mostrar sólo esta sección si el rol es RRHH-->
                <a href="/roles" class="nav-link">Roles</a>
              </li>
              <li>
                <a class="nav-link">Sectores</a>
                <ul>
                  <li>
                    <a href="/sector" class="nav-link">Sectores</a>
                  </li>
                  <li>
                    <a href="/tipo-sector" class="nav-link">Tipos</a>
                  </li>
                </ul>
              </li>
              <li>
                <a class="nav-link">Boletas</a>
                <ul>
                  <li>
                    <a href="/estado-boleta" class="nav-link">Estados</a>
                  </li>
                  <li>
                    <a href="/tipo-boleta" class="nav-link">Tipos</a>
                  </li>
                </ul>
              </li>
              <li>
                <a class="nav-link">Licencias</a>
                <ul>
                  <li>
                    <a href="/estado-licencia" class="nav-link">Estados</a>
                  </li>
                  <li>
                    <a href="/tipo-licencia" class="nav-link">Tipos</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="/permisos" class="nav-link">Permisos</a>
              </li>
              <li>
                <a href="/zona-inhospita" class="nav-link">Zonas Inhóspitas</a>
              </li>
              <li>
                <a class="nav-link">Regimenes y Remuneraciones</a>
                <ul id="regimenes">
                  <li>
                    <a href="/tipo-regimen-horario" class="nav-link">Tipos de Regimenes</a>
                  </li>
                  <li>
                    <a href="/regimen-horario" class="nav-link">Regimenes Horarios</a>
                  </li>
                  <li>
                    <a href="/remuneracion" class="nav-link">Remuneraciones</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="/viatico" class="nav-link">Viáticos</a>
              </li>
          </ul>
        </ul>
      </nav>
    </div>
  </div>
</div>